.greenTr {
  color: #5ba560;
}

.redTr {
  color: #c55252;
}

.greenButton {
  color: #5ba560;
}

.redButton {
  color: #c55252;
}

.dropdown {
  float: right;
}

.greenClose {
  background-color: #5ba560;
}

.redClose {
  background-color: #c55252;
}

img {
  margin-bottom: 20px;
}

.card {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
