<body class="bg-base-100" style="margin-top: 0px">
  <div class="card" style="margin-top: 0px">
    <div class="card-header" style="margin-top: 10px">
      Christmas Products 🎅🏻
      <div class="dropdown" style="margin-bottom: 10px">
        <select
          class="select w-full max-w-xs bg-white"
          id="category-select"
          (change)="onSelected($any($event.target).value)"
        >
          <option disabled selected>Filter by category</option>
          <option value="0">Display All</option>
          <option *ngFor="let category of categories$ | async" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table class="table w-full" *ngIf="products$ | async as products">
        <thead>
          <tr [ngClass]="(greenText$ | async) ? 'greenTr' : 'redTr'">
            <th></th>
            <th></th>
            <th>Product</th>
            <th>Code</th>
            <th>Category</th>
            <th>Price</th>
            <th>In Stock</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover:bg-base-200" *ngFor="let product of products">
            <td></td>
            <td></td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productCode }}</td>
            <td>{{ product.categoryId }}</td>
            <td>{{ product.price | currency : 'GBP' : 'symbol' : '1.2-2' }}</td>
            <td>{{ product.quantityInStock }}</td>
            <td>
              <label
                for="my-modal-3"
                class="btn btn-ghost"
                [ngClass]="(greenText$ | async) ? 'greenButton' : 'redButton'"
                >details</label
              >
              <input type="checkbox" id="my-modal-3" class="modal-toggle" />
              <div class="modal">
                <div class="modal-box relative bg-base-200">
                  <label
                    for="my-modal-3"
                    class="btn btn-sm btn-circle absolute right-2 top-2"
                    [ngClass]="(greenText$ | async) ? 'greenClose' : 'redClose'"
                    >✕</label
                  >
                  <img
                    src="https://images.immediate.co.uk/production/volatile/sites/30/2020/11/Marmalade-Glazed-Turkey-a3a338c.jpg"
                    class="rounded-lg shadow-2xl"
                  />
                  <h3 class="text-lg font-bold">{{ product.productName }} Details</h3>
                  <p class="py-4">
                    {{ product.description }}
                  </p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</body>
