<div class="navbar bg-accent text-accent-content" data-theme="dark" style="float: none">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-200 rounded-box w-52 text-black"
      >
        <li>
          <a
            class="hover:bg-base-300 focus:bg-base-300 active:bg-base-300 text:bg-base-300"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Homepage</a
          >
        </li>
        <li>
          <a
            class="hover:bg-base-300 focus:bg-base-300 active:bg-base-300 text-bg-neutral"
            [routerLink]="['/products']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >View Products</a
          >
        </li>
        <li>
          <a
            class="hover:bg-base-300 focus:bg-base-300 active:bg-base-300 text-bg-neutral"
            [routerLink]="['/suggestions']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Make Product Selection</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a
      class="btn normal-case text-xl"
      id="colour-button"
      [ngClass]="(greenText$ | async) ? 'redButton' : 'greenButton'"
      (click)="changeColour()"
    >
      {{ (greenText$ | async) ? 'Red' : 'Green' }}</a
    >
    <darkmode></darkmode>
  </div>
</div>
