.form-control {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

#suggestion-table {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
}

input {
  width: 300px;
}

button {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #d1c5ce;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #dbdbdb;
}

.redButton {
  background-color: #c55252;
  color: white;
}

.greenButton {
  background-color: #5ba560;
  color: white;
}
