<body class="bg-base-100">
  <div class="form-control">
    <div class="hero max-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <img
          src="https://images.immediate.co.uk/production/volatile/sites/30/2017/11/Christmas-dinner-b0d905e.jpg?resize=960,872"
          class="max-w-sm rounded-lg shadow-2xl"
        />

        <div>
          <h1 class="text-5xl font-bold">2023 Product Suggestions</h1>
          <p class="py-6">
            We are now taking food requests for Christmas 2023! If you cannot see your favourite Christmas food on our
            main product page please leave your suggestion down below.
          </p>
          <div class="suggestion-input" [formGroup]="productForm">
            <label class="input-group">
              <input
                type="text"
                placeholder="Enter product suggestion"
                class="input input-bordered bg-base-100"
                id="product"
                formControlName="product"
              />
              <button [ngClass]="(greenText$ | async) ? 'greenButton' : 'redButton'" type="submit" (click)="onSubmit()">
                Submit
              </button>
            </label>
          </div>
        </div>
      </div>
    </div>

    <suggestion-table id="suggestion-table"></suggestion-table>
  </div>
</body>
