button {
  margin-left: 20px;
  margin-right: auto;
  padding: 5px;
  margin-bottom: 20px;
  display: inline-block;
}

.greenButton {
  background-color: #5ba560;
  color: white;
}

.redButton {
  background-color: #c55252;
  color: white;
}

.font-size-button {
  margin-left: 20px;
  margin-right: auto;
  display: inline-block;
}

.container {
  margin-top: 100px;
}

.hero {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
