﻿<body class="bg-base-100">
  <div class="hero min-w-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="https://images.unsplash.com/photo-1607196707151-2db8b71294ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1347&q=80"
        class="max-w-sm rounded-lg shadow-2xl"
      />

      <div>
        <h1 class="text-5xl font-bold">Christmas Food</h1>
        <p class="py-6" [style.font-size.px]="fontSizePx">
          You can view all our christmas food products for your 2023 Christmas dinner! If your favourite Christmas food
          product is missing you can leave your suggestion and we will try get it in stock for Christmas!
        </p>
        <button
          class="btn btn-nuetral"
          id="products"
          [ngClass]="(greenText$ | async) ? 'greenButton' : 'redButton'"
          (click)="viewProducts()"
        >
          View Food
        </button>

        <button
          class="btn btn-nuetral"
          id="suggestions"
          [ngClass]="(greenText$ | async) ? 'greenButton' : 'redButton'"
          (click)="makeSuggestion()"
        >
          Make Suggestion
        </button>

        <div class="font-size-button">
          <font-sizer [size]="fontSizePx" (sizeChange)="fontSizePx = $event"></font-sizer>
        </div>
      </div>
    </div>
  </div>
</body>
