th,
td {
  border: 1px solid rgb(215, 214, 214);
  padding: 15px;
}

th {
  text-align: left;
}

.greenText {
  color: #5ba560;
}

.redText {
  color: #c55252;
}

.greenButton {
  background-color: #5ba560;
  color: white;
  float: right;
}

.redButton {
  background-color: #c55252;
  color: white;
  float: right;
}

.suggestion-row {
  text-align: left;
  margin-top: 10px;
}
