<table-template class="suggestion-table" *ngIf="suggestions$ | async as suggestions">
  <tr>
    <th [ngClass]="(greenText$ | async) ? 'greenText' : 'redText'">Product Suggestions 🎅🏻</th>
  </tr>
  <tr *ngFor="let suggestion of suggestions">
    <td class="suggestion-row">
      {{ suggestion.product }}
      <button
        class="btn btn-nuetral"
        id="remove"
        [ngClass]="(greenText$ | async) ? 'greenButton' : 'redButton'"
        (click)="onSubmit(suggestion.id)"
      >
        Remove
      </button>
    </td>
  </tr>
</table-template>
